<nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link active text-light"
            aria-current="page"
            href="/realTimeProducts"
          >Productos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" href="/carts/{{dataCartId}}">Mi Carrito</a>
        </li>
        {{! <li class="nav-item">
          <a class="nav-link disabled text-light" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li> }}
      </ul>
      <form action="">
      <li class="nav-item dropdown d-flex me-5">
        <a
          class="nav-link dropdown-toggle text-primary me-5"
          href="#"
          id="navbarDropdown" 
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          {{userSession}}
        </a>
        <a href="">{{userSessionId}}</a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          {{!-- <li><a class="dropdown-item" id="perfil" name="perfil" href="#">Perfil</a></li> --}}
          <li><button class="dropdown-item" type="submit" id="logOut" name="logOut">Cerrar sisión</button></li>
          {{! <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li> }}
        </ul>
      </li>
      </form>
    </div>
  </div>
</nav>

<div class="p-1 mb-2 bg-primary text-white text-center fs-5">Carrito</div>

{{#if productsInCart}}
  <div class="mx-3 mt-3 row">
    <p class="text-center alert h4">No tiene productos cargados en el carrito</p>
  </div>
{{else}}
  <div class="mx-3 mt-3 row">
    <input type="hidden" id="cartId" name="cartId" value="{{dataCartId}}" />

    <table class="table table-sm table-dark table-sm" id="tableProducts">
      <thead>
        <tr>
          <th scope="col" class="col-2">Titulo</th>
          <th scope="col" class="col-3">Descripcion</th>
          <th scope="col" class="col-1">Precio</th>
          <th scope="col" class="col-1">Stock</th>
          <th scope="col" class="col-2">Cantidad en el carrito</th>
          <th scope="col" class="col-1 text-center">Modificar cantidad</th>
          <th scope="col" class="col-1"></th>
          <th scope="col" class="col-1"></th>
        </tr>
      </thead>
      <tbody>
        {{#each data.products}}
          <tr id="celda">
            <td>{{this.product.title}}</td>
            <td>{{this.product.description}}</td>
            <td>{{this.product.price}}</td>
            <td>{{this.product.stock}}</td>
            <td class="text-center">{{this.quantity}}</td>
            <td class="text-center"><input
                class="quantity"
                id="quantity"
                name="quantity"
                type="number"
                placeholder="Ingrese la cantidad"
              /></td>
            <td><button
                value={{this.product._id}}
                class="productIdUpdate btn btn-primary btn-sm ms-4"
              >Modificar</button>
            </td>
            <td><button
                value={{this.product._id}}
                class="productIdDelete btn btn-danger btn-sm"
              >Eliminar</button>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
    <button class="btn btn-primary col-auto" id="buy" name="buy">Comprar</button>
  </div>
{{/if}}

<!-- LLamamos al servisor io para ejecutarlo aca en el frontend,
como esto ejecuta el servidor este ya establece la comunicacion cada vez que se actualiza la paguina -->
<script src="/socket.io/socket.io.js"></script>

<!-- Aca le paso mi js publico -->
<script src="/js/cartsCid.js"></script>
<script src="/js/navBar.js"></script>

<!-- bootstrap -->
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
  crossorigin="anonymous"
></script>

<!-- sweetalert2 -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>